@import "@sass/helpers/mixins";
@import "@sass/helpers/variables";

.Profile {
  background-color: $gray;
  height: 100vh;
  h2 {
    margin: 0;
  }

  @include e(content) {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    background-color: $blue;
  }

  @include e(avatar) {
    width: 100px;
    height: 100px;
    background-color: $gray;
    border-radius: 50%;
  }

  @include e(user-info) {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 50px 0;
    color: $white;
    text-transform: uppercase;

    h2 {
      padding-left: 10px;
    }

    p {
      margin: 0;
    }
  }

  @include e(coupon) {
    display: flex;
    justify-content: space-between;
    background-color: $green;
    border-radius: 16px;
    padding: 10px 20px;
  }

  @include e(coupon-col) {
    background-color: $gray;
    padding: 4px 20px;
    border-radius: 24px;
    text-transform: uppercase;
    cursor: pointer;
    p {
      margin: 0;
      font: normal 500 14px/1 $secondary-font;
    }

    span {
      display: inline-block;
      letter-spacing: 2.2px;
      font: normal bold 24px/1.4 $secondary-font;
    }
  }
}
